<link rel="stylesheet" type="text/css" href="/_/static/thirdparty/github-markdown.css">
<style>

#markdown {
  display: flex;
  flex-direction: row;

  .markdown-body {
    flex: 1 1 75%;
    overflow: auto;
  }

  .markdown-heading {
    flex: 0 0 25%;
  }
}

/* Override properties defined in github-markdown.css */
.markdown-body {
  margin: 8px;

  a {
    text-decoration: underline;
    text-underline-offset: .2rem;
  }
}

.markdown-heading {
  margin: 8px 8px 8px 0;

  font-size: 0.8em;

  ul {
    list-style-type: none;
    margin-block: 0;
    padding-inline-start: 1em;
  }

  > ul {
    position: sticky;
    top: 8px;

    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 0.5em;
  }
}
</style>
