<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta name="referrer" content="no-referrer">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Name }} | iview</title>

<link rel="stylesheet" type="text/css" href="/_/static/default.css">
<script src="/_/static/thirdparty/htmx-2.0.4.min.js"></script>
<script async src="/_/static/fsmonitor.js"></script>
</head>

<body>

<section id="header">
  <div>
    <span id="breadcrumbs">
      {{ range .Breadcrumbs }}
      <a href="{{ .Path }}">{{ .Name }}</a> /
      {{ end }}
      <span class="filename">{{ .Name }}</span>
    </span>
    <span>Stream: <span id="status">(N/A)</span></span>
  </div>
</section>

<section id="main">
  {{ template "main" . }}
</section>

<section id="footer">
  <span>Others:
    <a href="?raw">raw</a>
    <a onclick="fetch('?edit')">edit</a>
  </span>
</section>

</body>
