<!DOCTYPE html>

<head>
<meta charset="UTF-8">
<meta name="referrer" content="no-referrer">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Name }} | iview</title>

<link href="/_/static/default.css" rel="stylesheet" type="text/css" />

<script src="/_/static/thirdparty/htmx-2.0.4.min.js"></script>
<script async src="/_/static/fsmonitor.js"></script>
{{ if and .LayoutExt .LayoutExt.Head -}}
  {{ .LayoutExt.Head }}
{{ end -}}
</head>

<body>

<section id="header">
  <div>
    <span id="breadcrumbs">
      {{ range .Breadcrumbs -}}
      {{ if .Path -}}
      <a href="{{ .Path }}">{{ .Name }}</a> /
      {{ else -}}
      <span class="filename">{{ .Name }}</span>
      {{- end -}}
      {{ end }}
    </span>
    <span>Actions:
      <a href="?raw">raw</a>
      <a onclick="fetch('?edit')">edit</a>
    </span>
    <span>Stream: <span id="status">(N/A)</span></span>
  </div>
</section>

<section id="main">
{{ template "main" . -}}
</section>

<section id="footer">
</section>

</body>
