/* default.css */

#main {
  border: 1px solid lightgray;
  border-radius: 1em;
  padding: 1em;
}

#header {
  font-size: 0.9em;
  margin: 0.7em 0;

  div {
    display: block flex;
    column-gap: 1em;

    > * {
      display: inline-block;
      flex: 0 0 auto;
    }
    > #breadcrumbs {
      flex: 1 0 auto;
    }

    .filename {
      font-weight: 500;
    }

    #status {
      color: #cc0;
      font-weight: 500;

      &.ok { color: #093; }
      &.ng { color: #f30; }
    }
  }
}

#footer {
  display: block flex;
  justify-content: flex-end;

  font-size: 0.8em;
}

a {
  text-decoration: underline;
  text-underline-offset: .2rem;
  cursor: pointer;

  &, &:visited {
    color: #0000ee;
  }
}

table {
  border-collapse: collapse;

  th, td {
    padding: 0.1em 0.5em;
    border: 1px solid #e0e0e0;
  }

  thead th {
    font-size: 0.85em;
    font-weight: 500;
    background-color: #cccccc;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
}
