/* default.css */

:root {
  --anchor-color: #0000ee;
  --anchor-hover-background-color: #ccccff;

  --table-border-width: 1px;
  --table-border-style: solid;
  --table-border-color: #e0e0e0;
}

body {
  margin: 0;
}

#main {
  margin: 8px;
  padding: 0;

  position: relative;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  overflow: hidden;
}

#header {
  position: sticky;
  top: 0;
  z-index: 255;
  background-color: #fff;
  filter: drop-shadow(0px 0px 4px #999);

  margin: 0;
  padding: 8px;

  font-size: 0.9em;

  div {
    display: block flex;
    column-gap: 1em;

    > * {
      display: inline-block;
      flex: 0 0 auto;
    }
    > #breadcrumbs {
      flex: 1 0 auto;
    }

    .filename {
      font-weight: 500;
    }

    #status {
      color: #cc0;
      font-weight: 500;

      &.ok { color: #093; }
      &.ng { color: #f30; }
    }
  }
}

#footer {
  display: block flex;
  justify-content: flex-end;

  font-size: 0.8em;
}

a {
  text-decoration: underline;
  text-underline-offset: .2rem;
  cursor: pointer;

  &, &:visited {
    color: var(--anchor-color);
  }
}

.toast {
  background-color: #0009;
  color: #fff;
  border-radius: 4px;
  padding: 0.625em 1em;
  z-index: 9999;
  position: fixed;
  transition: opacity 0.25s ease-in-out;
}

button.action_icon {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: #666;
  padding: 0 0.250em;
}

table {
  border-collapse: collapse;

  th, td {
    padding: 0.15em 0.6em;
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  }

  thead th {
    font-size: 0.85em;
    font-weight: 500;
    background-color: #cccccc;
  }

  tbody tr {
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    &:nth-child(even) {
      background-color: #f4f4f4;
    }
  }
}

.grid-table {
  display: grid;

  > .grid-header {
    display: contents;
    font-size: 0.85em;
    font-weight: 500;
    > * {
      background-color: #cccccc;
      text-align: center;
    }
  }

  > .grid-row {
    display: contents;
    &:nth-child(odd) > * {
      background-color: #f4f4f4;
    }
    &:nth-child(even) > * {
      background-color: #ffffff;
    }
  }

  > .grid-header > *,
  > .grid-row > * {
    display: block;
    box-sizing: border-box;
    padding: 0.15em 0.60em;
  }

  /* Border settings */
  border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  > * > *:not(:first-child) {
    border-left: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  }
  > :not(:first-child) > * {
    border-top: var(--table-border-width) var(--table-border-style) var(--table-border-color);
  }
}
