<style>

.grid-table.directory {
  --sub-font-size: 0.85rem;

  grid-template-columns: 1fr auto auto;

  > .grid-row > * {
    &.name:hover {
      background-color: var(--anchor-hover-background-color);
    }
    &.modifiedAt {
      min-width: 20ex;
      font-size: var(--sub-font-size);
      display: flex;
      align-items: center;
    }
    &.size {
      min-width: 14ex;
      font-size: var(--sub-font-size);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
</style>

<div class="grid-table directory">
  <div class="grid-header">
    <div>Name</div>
    <div>Modified at</div>
    <div>Size</div>
  </div>
  {{ range .Readdir -1 }}
  <div class="grid-row">
    <div class="name">
      <a href="{{ .Name }}{{ if .IsDir }}/{{ end }}">{{ .Name }}{{ if .IsDir }}/{{ end }}</a>
    </div>
    <div class="modifiedAt">{{ .ModTime.Format "2006/01/02 15:04:05" }}</div>
    <div class="size">{{ .Size }}</div>
  </div>
  {{ end}}
</div>
