{{ $root := . }}
<div class="grid-table directory">
  <div class="grid-header">
    <div>Name</div>
    <div>Modified at</div>
    <div>Size</div>
  </div>
  {{ $entries := .Readdir -1 }}
  {{ range $entries }}{{ if .IsDir -}}
  <div class="grid-row folder">
    <div class="name">
      <span class="icon">
        {{- if $git := $root.GitStatus .Name }}
        <span class="git-status git-status-staging git-status-{{ $git.Staging }}">{{ printf "%c" $git.Staging }}</span>
        <span class="git-status git-status-worktree git-status-{{ $git.Worktree }}">{{ printf "%c" $git.Worktree }}</span>
        {{- end }}
        <span class="material-symbols">folder</span>
      </span>
      <a href="{{ .Name }}/">{{ .Name }}/</a>
    </div>
    <div class="modifiedAt">{{ .ModTime.Format "2006/01/02 15:04:05" }}</div>
    <div class="size">{{ .Size }}</div>
  </div>
  {{- end }}{{ end }}
  {{ range $entries }}{{ if not .IsDir -}}
  <div class="grid-row file">
    <div class="name">
      <span class="icon">
        {{- if $git := $root.GitStatus .Name }}
        <span class="git-status git-status-staging git-status-{{ $git.Staging }}">{{ printf "%c" $git.Staging }}</span>
        <span class="git-status git-status-worktree git-status-{{ $git.Worktree }}">{{ printf "%c" $git.Worktree }}</span>
        {{- end }}
        <span class="material-symbols">draft</span>
      </span>
      <a href="{{ .Name }}">{{ .Name }}</a>
    </div>
    <div class="modifiedAt">{{ .ModTime.Format "2006/01/02 15:04:05" }}</div>
    <div class="size">{{ .Size }}</div>
  </div>
  {{- end }}{{ end }}
</div>
