<style>
#main {
  > .highlighed-code {

    > pre {
      margin: 0;
      padding: 0.8em 0;
    }

    > pre.chroma {
      > code {
        font-size: 14px;
        font-family: "Cica", "Consolas", monospace;
      }
      .line:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .lexer-name {
    display: inline-block;
    float: right;
    position: sticky;
    top: var(--header-height);
    z-index: 1;
    margin: 8px;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    font-size: 0.75em;
    background-color: lightgray;
  }


  .chroma .ln {
    margin-left: 0.9em;
  }
}
</style>
